.inputWith{
    width: 37rem;
}
.m8r{
    margin: 8rem;
}

.formularioDiv{
    display: block; margin-left: 5rem;
}
.dateFormat{margin-left: 1rem;height: 5rem;}

.cancelButton{
    margin: 1rem; float: right;
}
.saveButton{
    margin: 1rem; float: right;
}
.titulo{
    font-size: x-large;
    margin-bottom: 3rem;
}
