<div class="m8r">

    <div class="titulo">
       {{titulo}}
    </div>
    <mat-card>
        <form [formGroup]="formularioCliente">
            <div class="formularioDiv">
                <div>
                    <label for="name">Name:</label>
                    <!-- <input type="text" id="name" formControlName="name"> -->
                    <mat-form-field appearance="outline" class="inputWith">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Name" id="businessId" formControlName="businessId">
                    </mat-form-field>
                </div>
                <div>
                    <label for="phone">Phone:</label>
                    <mat-form-field appearance="outline" class="inputWith">
                        <mat-label>Phone</mat-label>
                        <input matInput placeholder="310######" id="phone" formControlName="phone">
                    </mat-form-field>
                </div>
                <div>
                    <label for="email">E-mail:</label>
                    <mat-form-field appearance="outline" class="inputWith">
                        <mat-label>email</mat-label>
                        <input matInput placeholder="example@hotmail.com" id="email" formControlName="email">
                    </mat-form-field>
                </div>
                <div>
                    <label for="dataAdded">Date:</label>
                    <input class="inputWith dateFormat" type="date" id="dataAdded"
                        formControlName="dataAdded">
                </div>
                <div>
                    <button class="cancelButton" mat-flat-button color="primary"
                        (click)="closeModal()">CANCEL</button>
                </div>
                <div>
                    <button class="saveButton" mat-flat-button color="primary" (click)="guardarCliente()"
                        [disabled]="formularioCliente.invalid">SAVE</button>
                </div>

            </div>


        </form>
    </mat-card>
</div>