

<p>
  <mat-toolbar color="primary">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['/parametrizacion']" routerLinkActive="router-link-active" >Parametrizacion</button>
    <button mat-button [routerLink]="['/parametrizacion/inicio']" routerLinkActive="router-link-active">Inicio</button>
    <button mat-button [routerLink]="['/parametrizacion/property']" routerLinkActive="router-link-active">Property</button>
    <button mat-button [routerLink]="['/parametrizacion/usuarios']" routerLinkActive="router-link-active">Usuarios</button>
    <span class="example-spacer"></span>
    <mat-icon mat-button [routerLink]="['/login/loginon']" aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon>
  </mat-toolbar>
</p>