<div class="container">
  <div>

  </div>
  <mat-card class="with140r">

    <div class="main-cliente">

      <div class="pading2r">
        <div class="right-panel">

          <button mat-flat-button color="primary" class="button-export" (click)="openModal()">Registrar Nueva Venta</button>

        </div>

        <div class="marginBotton">
          <Label class="fondClientLabel">Lista Recargas vendidas</Label>
        </div>
        <div>
          <table mat-table [dataSource]="clientsListView" class="mat-elevation-z8">



            <ng-container matColumnDef="sharedKey">
              <th mat-header-cell *matHeaderCellDef> Key </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>


            <ng-container matColumnDef="businessId">
              <th mat-header-cell *matHeaderCellDef> Cantidad </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
            </ng-container>


            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Valor Venta </th>
              <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Operador </th>
              <td mat-cell *matCellDef="let element"> {{element.operador}} </td>
            </ng-container>

            <ng-container matColumnDef="dataAdded">
              <th mat-header-cell *matHeaderCellDef> Vendedor </th>
              <td mat-cell *matCellDef="let element"> {{element.vendedor}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>


      </div>
    </div>
  </mat-card>


</div>